.background {
    background-image: url('../images/contact-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.contact__section {
    position: relative;
}

.contact__form {
    width: 60%;
    min-height: 600px;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 60px;
    transform: translate(-50%, 30%);
    display: flex;
    flex-direction: column;
}

.contact__form h1 {
    text-align: center;
}

.field {
    margin-bottom: 50px;
}

.field__hidden {
    display: none;
}

.field input, .field textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    transition: all 0.3s ease 0s;
}

.field input {
    height: 40px;
}

.field label {
    font-family: Muli, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.field input:focus, .field textarea:focus {
    border-bottom: 1px solid #F06666;
    font-family: Muli, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

.actions {
    text-align: center;
    padding: 0;
    margin: 30px 0;
}
